body {
    border: 1px solid rgb(252, 139, 139);
}

header {
    text-transform: uppercase;
    width: 100%;
    height: 80px;

    text-align: center;
    text-shadow: 9px 7px 1px rgba(179, 4, 4, 0.2);
    color: rgb(179, 4, 4);
    font-style: italic;
}

nav {
    background-color: rgb(245, 161, 161);
    height: 37px;
    width: 100%;
    text-align: center;
    border: 1px 0px solid rgb(252, 139, 139);
}

nav a {
    text-decoration: none;
    padding: 0 30px;
    border-right: 1px solid blue;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:first-child {
    margin: 0;
    padding-right: 10px;
}

nav a img {
    width: 24px;
    height: auto;
    
}



#Search {
    margin-left: 50px;
}

.content {
    margin-top: 10px;
    margin-left: 10px;
}

.content#content2 h1{
    margin: 0 auto;
    background-color: rgb(245, 161, 161);
    color: rgb(179, 4, 4);
    width: 340px;
    height: 30px;
    text-align: left;
    padding-left: 30px;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 20px;
}

#content2 ul {
    margin: 0;

}

.back {
    color: red;
    font-weight: bolder;
}

#Honey {
    color: orange;
    font-weight: bolder;
}

#Honey1 {
    text-transform: uppercase;
}

#content2 #tieude1 {
    font-size: 15px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
}

#content1 {
    height: 400px;
    width: 15%;
}

#content2 {
    width: 60%;
}

#content3 {
    width: 25%;
}

article {
    display: flex;
    margin-bottom: 10px;
}

#content1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content1 ul li {
    height: 30px;
    width: calc(100% - 20px);
    background-color: rgb(245, 161, 161);
    border-radius: 30px;
    margin: 5px 0;
    padding-left: 20px;
    line-height: 30px;
    color: white;
}

#content1 ul a:first-child li{
    margin: 0;
}

#content1 ul a{
    text-decoration: none;
}

#content1 img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 6px 20px 9px rgb(245, 161, 161, 0.6);
}

#content2 form {
    margin-top: 20px;
}

.inputbox {
    width: 350px;
    height: 20px;
    padding: 10px;
    margin: 10px;
}

#CT {
    height: 50px;
    width: 370px;
}

#Radio {
    padding-left: 10px;
    padding-bottom: 35px;
}

#button {
    padding-left: 10px;
}

#button>input {
    height: 30px;
}


#Cmt {
    margin-left: 10px;
}

#content3 {
    background-color: black;
    height: 555px;
    color: white;

}

#content3 h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

#content3 h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.section {
    margin: 20px 0px 0px 30px;
    width: 270px;
    font-size: 14px;
}

.section img {
    height: 150px;
    width: auto;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(245, 161, 161);
    color: white;
    border: 1px 0px solid rgb(252, 139, 139);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px;
    font-style: italic;
}
